body,html,#splash-container{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#splash-container{
    background-color: black;
    position: absolute;
    z-index: 44;
}

#splash-animation{
    position: absolute;
    width:100%;
}

#rotate-circle{
    width: 100%;
    height:140px;
    visibility: hidden;
}
#progress-tip{
    margin:15px auto 0 auto;
    text-align: center;
    color: white;
    font-family:Arial, Ropa Sans,sans-serif;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 2px;
    visibility: hidden;
}
#progress-container{
    height:10px;
    width: 50%;;
    border:2px solid #00E0FF;
    padding:1px;
    margin:4px auto 0 auto;
    visibility: hidden;
}
#progress-container div{
    height: 100%;
    width:0%;
    background-color: #00E0FF;
}